In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [3]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler

In [176]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
from sklearn.neural_network import MLPRegressor

In [66]:
from sklearn.metrics import r2_score

In [5]:
#import keras

In [6]:
total_data = pd.read_csv('Combined_Roto_NBA_18-19.csv')

/Users/jordanlevy/Desktop/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [72]:
total_data.columns

Index(['Date', 'Name', 'Salaries', 'Team', 'Position', 'Opponent',
       'Unnamed: 6', 'Projected Minutes', 'DvP', 'DvPRank', 'O/U', 'Line',
       'Total', 'Movement', 'Ceiling', 'Floor', 'Projection', 'Pts/$/K', 'WL',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS', 'FD_PTS'],
      dtype='object')

In [83]:
filt_data = total_data[total_data['MIN'] > 15].reset_index()

In [84]:
len(filt_data)

18734

In [85]:
feat_data = filt_data[['Date', 'Position', 'Salaries', 'Line', 'Projected Minutes', 'Ceiling', 'Floor', 'Projection', 'FD_PTS']]

In [86]:
feat_data = feat_data[feat_data['Line'] != '\xa0'].reset_index(drop=True)#['Line'].str.strip(' ')

In [87]:
feat_data['Line'] = feat_data['Line'].astype('int')

In [88]:
mean_data = feat_data.groupby('Date').transform(np.mean)
std_data = feat_data.groupby('Date').transform(np.std)

In [132]:
feat_data.head()

,Date,Position,Salaries,Line,Projected Minutes,Ceiling,Floor,Projection,FD_PTS
0,2018-10-16,PF,6400,180,33.0,37.61,18.53,28.07,11.7
1,2018-10-16,C,10400,180,33.0,59.02,33.20,46.11,42.0
2,2018-10-16,SG,5900,-215,32.0,34.31,18.07,26.19,19.0
3,2018-10-16,SF,6500,180,33.0,39.30,18.92,29.11,22.2
4,2018-10-16,PG,8400,-215,33.0,46.72,28.64,37.68,19.3

In [90]:
feat_scale_data = (feat_data.iloc[:,2:] - mean_data) / std_data

In [91]:
feat_scale_data['Position'] = feat_data['Position'].values

In [92]:
feat_scale_data.head()

,Salaries,Line,Projected Minutes,Ceiling,Floor,Projection,FD_PTS,Position
0,0.081633,0.326864,0.829381,0.130084,0.090917,0.115736,-1.049892,PF
1,1.868310,0.326864,0.829381,1.748028,1.497421,1.679891,0.974554,C
2,-0.141702,-0.073802,0.676183,-0.119296,0.046814,-0.047269,-0.562154,SG
3,0.126300,0.326864,0.829381,0.257796,0.128309,0.205909,-0.348351,SF
4,0.974971,-0.073802,0.829381,0.818523,1.060225,0.948969,-0.542110,PG

In [244]:
mlp = MLPRegressor(hidden_layer_sizes = (100,), early_stopping=True)

In [245]:
X = feat_data[['Salaries','Projection', 'Projected Minutes','Ceiling', 'Floor', 'Line']]
y = feat_data[['FD_PTS']]

In [229]:
#r2_score(y, X)

In [230]:
#X = feat_scale_data[['Salaries','Projection', 'Projected Minutes', 'Projected Minutes']]#,'Projected Minutes']]#'Salaries', , 'Projection','Ceiling', 'Floor']]

In [231]:
#y = feat_scale_data[['FD_PTS']]

In [232]:
#r2_score(y, X)

In [247]:
score_arr = []
#for i in range(5):
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state =np.random)
mlp.fit(X_train, y_train)
score = mlp.score(X_test, y_test)
#score_arr.append(score)
#print(i+1)
#np.mean(score_arr)
score

0.46557942097510296

In [129]:
mlp.fit(X_train, y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_iter=200, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=None, shuffle=True, solver='adam', tol=0.0001,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [170]:
mlp.predict(X_test)

array([17.09775407, 24.62785554, 38.65199641, 23.3001031 , 16.89704682,
       14.95845278, 17.81478416, 33.52472074, 25.07511412, 21.74052768,
       18.5368792 , 19.2317519 , 21.73711129, 21.66722275, 17.62621315,
       30.87086443, 15.06628983, 21.86875429, 24.93734337, 18.50505843,
       19.91071422, 21.22880327, 35.62430569, 46.5667777 , 41.46766791,
       31.05035784, 45.60590764, 17.24424468, 15.43753213, 16.8776008 ,
       16.3833161 , 14.85238355, 37.78930001, 16.91826067, 29.11600447,
       32.67156848, 18.62255887, 17.38060535, 29.46780075, 16.7875612 ,
       33.37528028, 15.63552803, 22.04388777, 21.21454146, 13.50530434,
       23.79686066, 16.43281507, 17.13735116, 30.4208945 , 16.46734719,
       13.58485626, 23.95950014, 25.38460196, 22.80405058, 28.10917108,
       19.69504012, 15.84236303, 19.09032627, 16.67866137, 21.74771821,
       27.78825204, 15.43753213, 20.62220235, 17.87724366, 29.61995256,
       22.60876604, 17.45638314, 28.6200712 , 19.86651871, 48.07496708,
       62.43157745, 24.97081271, 52.51020065, 17.68726258, 17.66604874,
       18.42373869, 24.18142124, 28.92413633, 52.35722455, 21.52131794,
       21.29668549, 18.27146763, 23.57140392, 33.60875184, 40.46260234,
       16.826334  , 22.14618286, 38.32589315, 17.52014392, 36.85753936,
       28.25861154, 22.55832353, 23.64659592, 16.61678765, 45.84633123,
       31.34994379, 21.87476279, 46.76748495, 22.21194996, 29.07180896,
       34.63420697, 34.74722823, 43.6759142 , 52.05657582, 15.07336111,
       26.80168895, 28.50516287, 43.07308742, 39.40532644, 24.55973482,
       42.26684202, 16.47630555, 29.84800141, 15.86546394, 30.31836091,
       17.64059421, 46.10467152, 34.92589735, 45.15852981, 30.14240314,
       25.50917368, 46.0727315 , 17.36292715, 27.94829942, 29.20533903,
       33.68830376, 31.49761642, 24.51553931, 21.3021082 , 15.98378867,
       16.1137831 , 25.54983355, 22.36115192, 15.00971958, 14.57483573,
       15.80795015, 24.67110751, 13.56364241, 38.15075967, 33.64139689,
       29.69773667, 33.10126811, 16.75031772, 19.16457473, 24.40511016,
       14.15939792, 15.75750764, 25.6727567 , 37.57009027, 22.39910044,
       15.9935713 , 17.28867869, 37.3941325 , 31.93250026, 37.26237025,
       28.3867189 , 15.95138211, 45.09217691, 15.39687226, 30.59590872,
       23.30717438, 35.06201953, 20.36056491, 21.4399982 , 23.68996714,
       23.6713454 , 17.90647232, 24.67735451, 33.31611792, 31.76821221,
       15.0203265 , 17.77388579, 19.39792703, 21.86521865, 32.99519888,
       38.96666846, 25.91589164, 15.6585097 , 16.92438842, 20.26510261,
       25.31541846, 20.04506858, 15.73099034, 24.41276723, 29.05059512,
       31.56396932, 13.735121  , 34.13909798, 21.84930826, 22.71742737,
       13.804066  , 29.49443731, 30.85848969, 42.94922073, 23.88537093,
       42.46578145, 20.45261083, 22.7607986 , 24.557967  , 17.440592  ,
       29.05330647, 15.1069497 , 18.94972491, 14.92486419, 28.93391896,
       34.03738868, 15.32710298, 14.84884791, 15.31555252, 33.87380566,
       49.60330752, 40.04445317, 35.71281597, 22.62019725, 20.42774209,
       14.56776445, 26.4995109 , 38.92070512, 36.95559377, 45.44668455,
       16.97211957, 34.81275684, 22.78554809, 33.98081843, 31.85742752,
       31.24305027, 13.50000088, 15.76457893, 25.12131595, 15.73110958,
       21.57706391, 22.53274976, 16.56988078, 14.54831843, 20.01218503,
       23.06580726, 16.29056515, 22.13840654, 26.4303274 , 25.89373426,
       30.91128581, 17.29834207, 16.36045368, 17.29657425, 25.16008875,
       26.58955049, 18.9656353 , 52.80908156, 30.43762917, 44.95959038,
       25.17706192, 21.53652329, 17.96221829, 23.61901582, 20.41277524,
       20.2801887 , 13.99239851, 30.44470045, 25.21217983, 33.81016412,
       39.21605039, 17.56009876, 20.58083744, 17.25933078, 23.7314513 ,
       33.70315136, 13.92427779, 17.98343214, 17.29374365, 27.83598319,
       53.63288591, 16.94371519, 21.66097576, 21.8918552 , 16.43823778,
       24.40157451, 19.20511535, 25.10870271, 17.3567994 , 16.56988078,
       21.87594482, 22.68572585, 22.6528423 , 27.72013132, 23.16410017,
       16.8801929 , 28.59084254, 20.20063678, 26.72649696, 43.91386493,
       24.86297566, 34.48665358, 18.59863367, 28.0419939 , 17.72615463,
       16.79804888, 28.67664146, 21.80334493, 25.02207951, 19.2978663 ,
       29.83751373, 16.13240484, 17.31166035, 25.44989207, 19.3368776 ,
       20.19533332, 18.66687363, 23.76327207, 16.01655297, 17.84907778,
       17.18072239, 51.5633539 , 15.3915688 , 16.12627709, 30.21134814,
       34.06496877, 24.78165592, 24.40334233, 30.87958429, 19.8374093 ,
       37.22713309, 17.76787729, 15.47112072, 23.6562593 , 18.01702073,
       29.57398923, 14.58108273, 23.04081928, 24.43952303, 19.60488128,
       21.96516013, 20.54453749, 17.31873163, 30.92213123, 55.8146149 ,
       25.30446425, 22.79250012, 16.99781259, 29.74110789, 28.58553908,
       15.1582165 , 30.50940477, 24.5402888 , 29.26190929, 40.08782439,
       31.47734611, 45.24774512, 17.13841394, 22.06427733, 42.95464344,
       20.54807313, 21.94382704, 30.5790548 , 19.04247586, 22.98354398,
       45.0719066 , 37.7300184 , 18.67382567, 26.87157749, 36.31741058,
       21.09456816, 16.2870295 , 24.51553931, 56.03382464, 18.58284254,
       26.84411665, 36.4684996 , 41.8787458 , 20.05390768, 15.85214566,
       20.94052928, 20.32874414, 17.34253759, 38.20297   , 20.85119472,
       18.08690926, 40.59966805, 17.28325598, 21.27123096, 23.17270078,
       19.24235883, 26.94146602, 39.40261508, 14.52180112, 33.20733734,
       40.04704527, 20.21913927, 37.38965333, 22.52909487, 17.58213689,
       16.1827281 , 20.29786691, 17.82244123, 43.13496113, 22.76951845,
       28.62019045, 31.24564238, 26.74417516, 55.54532039, 34.70480054,
       45.42028649, 24.93463202, 19.2767717 , 14.38744676, 15.74525215,
       30.26438276, 15.36681931, 35.47580877, 36.73379193, 17.04118382,
       19.80452574, 14.8647583 , 17.87830644, 35.14333927, 13.77931651,
       29.07711242, 16.49834368, 31.60816483, 38.26743583, 26.03339208,
       32.48594733, 26.52496542, 24.46344823, 20.79179386, 23.81512465,
       29.59261097, 36.77621962, 17.53263791, 46.00272372, 16.28431815,
       34.15052919, 28.64046076, 14.7357074 , 18.85956607, 56.9257497 ,
       18.67394491, 43.40991684, 19.04884211, 29.00097689, 29.29113795,
       32.4063954 , 36.89807998, 18.56257222, 19.2317519 , 15.47288854,
       32.21275944, 29.85507269, 33.74393048, 31.07946725, 17.78284414,
       20.98472479, 43.97738722, 24.57918085, 15.39864008, 16.21278104,
       49.76170633, 30.37045199, 16.04130246, 20.17942294, 26.05814156,
       38.91716948, 20.12108486, 19.22656769, 53.46399943, 16.11460738,
       28.25330807, 17.07748376, 21.03422377, 24.87629394, 27.89337773,
       32.84139849, 24.426324  , 35.18235057, 15.30848124, 17.21784662,
       26.23681068, 29.54652839, 20.80711846, 32.35960779, 39.54757636,
       14.01797228, 17.5272152 , 34.60921899, 16.37825113, 17.02079426,
       28.69431966, 32.65577734, 15.03623688, 23.69244   , 25.49951029,
       31.00969797, 13.5433721 , 32.52389584, 37.9095118 , 18.80900431,
       16.59227666, 40.63584875, 22.22679756, 32.89608168, 13.82351203,
       15.18650162, 38.02442013, 33.14546362, 24.67994662, 24.04353124,
       41.7382637 , 19.03104465, 17.64495414, 14.19652215, 32.83161586,
       37.63538038, 27.53097453, 24.50316457, 15.7513799 , 23.153374  ,
       22.01017993, 18.00711884, 17.19769556, 20.84860262, 18.61112766,
       26.7211935 , 35.08405766, 17.49645722, 16.6317545 , 26.47193081,
       17.41513748, 30.22902635, 22.71035609, 23.25048488, 31.28359089,
       32.58848092, 16.47276991, 31.08123507, 35.02124041, 40.98764502,
       15.29433867, 31.19343205, 14.25839587, 16.15880289, 16.3533824 ,
       31.62666732, 24.61724861, 37.53732596, 26.37281361, 15.64707849,
       25.0494211 , 29.58895608, 38.95700507, 19.85838464, 25.21477194,
       14.32380522, 37.23314159, 15.11402098, 23.84989527, 18.98873621,
       35.45011575, 14.70035099, 15.70093739, 20.12733186, 17.89433608,
       30.42619796, 22.53805322, 18.93640663, 33.42301144, 16.34807894,
       15.76988239, 29.18671729, 36.08747466, 25.47028163, 16.51071842,
       31.62407521, 20.20051753, 16.53110798, 17.40075641, 24.61465651,
       19.68608177, 20.29173916, 32.58848092, 28.56633155, 24.11247624,
       52.42263391, 24.81088458, 17.20900752, 24.93368848, 28.06674339,
       42.03007333, 26.64258511, 20.5798939 , 28.50080294, 43.28876152,
       54.0827366 , 24.24329496, 16.67866137, 28.70846223, 27.50280865,
       38.42217974, 18.67559349, 38.17221202, 27.00322049, 38.72553983,
       21.56551345, 21.673589  , 19.05037143, 24.65342931, 16.20653405,
       23.39556541, 18.51118618, 17.38319746, 15.63022457, 32.15890054,
       23.93298284, 22.16138821, 17.42032169, 33.4311455 , 19.98401915,
       22.71459677, 23.33180462, 31.52590155, 29.29384931, 36.992718  ,
       17.308949  , 17.53440573, 33.00050234, 18.31755021, 25.80275113,
       19.16811037, 19.24177304, 16.32592156, 15.69209829, 20.3915614 ,
       33.90221004, 20.46050639, 17.86675599, 55.24360888, 20.39427275,
       35.21051645, 19.45638436, 19.56339712, 52.72505046, 27.67782288,
       16.23576271, 23.40876444, 16.37636406, 20.85661743, 13.51414344,
       20.5471296 , 32.29938264, 46.10714437, 16.11826227, 20.56303998,
       31.08748207, 20.66191868, 30.08936853, 35.47486524, 28.64929986,
       29.39096019, 27.14558966, 22.62644424, 35.81075113, 54.22769788,
       20.07606506, 17.47512412, 17.515784  , 21.97482352, 37.32424397,
       25.02019244, 18.31672593, 14.10989895, 34.29560972, 31.61429258,
       32.33921823, 36.16349094, 30.10445463, 23.76586417, 15.24130406,
       15.97235746, 15.32627869, 55.42663792, 30.75583685, 22.57859384,
       15.72309477, 28.3115269 , 19.98319486, 44.14980934, 17.3958107 ,
       17.72179471, 15.20064419, 31.56573714, 27.59909524, 26.04847818,
       16.11107174, 20.97777276, 26.45861253, 33.7280201 , 13.53005382,
       14.87006176, 21.04211934, 28.02961916, 19.76127377, 19.9716444 ,
       22.60322408, 16.99498199, 18.28679223, 19.61902384, 14.50058727,
       25.53922663, 33.43727325, 44.04114801, 40.52883598, 23.44412085,
       45.06589811, 31.02384053, 26.19520728, 13.72804972, 31.69113314,
       26.92366857, 32.30386182, 19.45803293, 29.77988069, 26.91376668,
       37.32777961, 37.3525291 , 28.35124324, 31.42160014, 24.33427809,
       14.66853022, 21.01312917, 15.91837931, 16.4400056 , 15.05745073,
       43.72989235, 28.20463339, 18.77541572, 16.96599182, 34.91269832,
       17.41867312, 32.42136225, 17.03740968, 22.78637237, 35.00544927,
       33.54770241, 40.91952431, 21.33121761, 43.89960312, 26.83445326,
       47.14945343, 15.60193944, 24.88336522, 15.66204534, 21.50717537,
       43.5380242 , 25.95030451, 19.38378447, 19.34041324, 30.64092852,
       17.93287038, 22.39321119, 32.37822953, 38.82536207, 23.99921648,
       20.5083568 , 33.93485509, 42.49937004, 20.23434462, 32.73792137,
       25.58342214, 19.35573784, 20.588733  , 18.92851107, 34.86484792,
       38.54333507, 17.53782213, 27.47346074, 27.25696235, 19.26262914,
       14.82763406, 61.77654033, 16.88915126, 15.74784426, 23.28065707,
       22.92438162, 26.85024439, 30.25731148, 34.75359448, 30.26886193,
       18.50953761, 34.20356381, 29.25389447, 23.53074405, 17.7730615 ,
       17.91896632, 18.69409598, 20.08737702, 20.15997691, 17.0180829 ,
       25.0645072 , 25.99367574, 16.69103611, 17.69598244, 20.55691224,
       21.8024014 , 24.10186932, 19.77270497, 26.05107028, 24.85413656,
       33.08453344, 26.74075877, 15.97141392, 30.74181354, 29.97174884,
       17.84530364, 14.05604004, 25.00534484, 15.98025303, 21.57340902,
       18.95762048, 20.09362402, 33.40627677, 17.38685235, 49.38680913,
       23.35136989, 21.92614883, 24.15514243, 15.77165021, 54.22050735,
       31.92012552, 29.1682148 , 21.33923243, 35.4023846 , 21.06781236,
       15.1582165 , 17.29928561, 40.89842971, 18.92674325, 16.9881492 ,
       21.00429007, 20.9422971 , 42.33237063, 43.07756659, 23.01454047,
       21.12886179, 35.23444165, 43.6972473 , 43.68487255, 15.35267675,
       17.86322035, 26.119191  , 18.17270818, 16.51236699, 21.66899057,
       32.99248752, 19.75514602, 41.35723876, 32.36491125, 18.61112766,
       21.00605789, 16.23847407, 15.48974246, 22.87936182, 19.00193524,
       14.77990291, 22.78283673, 17.88714555, 19.66722153, 18.89315466,
       16.00948169, 30.51623755, 14.36717645, 19.34135677, 18.92851107,
       30.18129519, 35.23279308, 22.05260762, 19.26003703, 18.16810976,
       25.68065226, 14.71802919, 27.62726112, 20.41631088, 30.00368886,
       14.76752817, 24.23528014, 36.06720435, 42.14934158, 20.96799012,
       19.30505683, 17.85602982, 20.79827936, 26.60710945, 40.91516438,
       15.3377099 , 18.71283697, 20.56044788, 18.43882479, 27.64329076,
       32.89525739, 23.78802156, 17.59887156, 25.61088298, 24.63410253,
       42.63643575, 16.5089506 , 36.12200679, 35.68158099, 24.12838662,
       23.54665443, 14.28668099, 35.69053934, 15.44554695, 17.33900195,
       39.51398777, 18.63870775, 16.00771387, 15.72038341, 29.40687057,
       24.17352567, 19.74359556, 18.63410933, 14.91602509, 26.10858407,
       30.50657416, 14.85591919, 24.67994662, 17.9949826 , 23.59261777,
       32.74758476, 20.34206242, 38.29124178, 20.05473197, 19.94677567])

In [124]:
mlp.score(X_test, y_test)

0.5352854664902953

In [88]:
ohe = OneHotEncoder(sparse=False)

In [60]:
X = ohe.fit_transform(total_data[['Position']])

In [61]:
X

array([[0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0.]])